.advantages {
  outline: 2px solid red;

  h2 {
    .page-title();

    color: @title-color;
  }
}

.advantages__wrapper {
  .container();
}

@media (min-width: @tablet-width) {
  .advantages {
    h2 {
      .page-title(60px, 60px);
    }
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .adv-list__text {
    .secondary-font();
  }
}
