.catalog-extra {

  h2 {
    .secondary-title(24px);

    color: @title-color;
  }
}

.catalog-extra__item {

  h2 {
    .secondary-title(16px);

    color: @secondary-color;
    text-transform: uppercase;
  }
}

.catalog-extra__item--gift {
  a {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
  }
}
