.categories {
  position: relative;
}

.categories__wrapper {
  .container();
}

.categories__item {
  padding: 20px;
  padding-top: 30px;
  background-color: @secondary-background-color;
  // outline: 2px solid blue;
}

.categories__title {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 12px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @title-color;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 2px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
    background-position: center;
  }
}

.categories__description {
  margin: 0;
}

.categories__link {
  .secondary-title(16px);

  color: @title-color;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .categories__title {
    font-size: 36px;
  }

  .categories__description {
    .secondary-font();

    width: 350px;
  }

  .categories__link {
    .secondary-title(20px);
  }
}

@media (min-width: @desktop-width) {
  .categories__wrapper {
    display: flex;
    flex-direction: row;
  }

  .categories__item {
    width: 570px;

    &:first-child {
      margin-right: 80px;
    }
  }
}
