.categories {
  position: relative;
  outline: 2px solid red;
}

.categories__wrapper {
  .container();
}

.categories__item {
  background-color: @secondary-background-color;
  outline: 2px solid blue;
}

.categories__title {
  font-size: 24px;
  line-height: 37px;
  color: @title-color;
  text-transform: uppercase;
}

.categories__link {
  .secondary-title(16px);

  color: @title-color;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .categories__title {
    font-size: 36px;
  }

  .categories__description {
    .secondary-font();

    width: 350px;
  }

  .categories__link {
    .secondary-title(20px);
  }
}

@media (min-width: @desktop-width) {
  .categories__wrapper {
    display: flex;
    flex-direction: row;
  }

  .categories__item {
    width: 570px;

    &:first-child {
      margin-right: 80px;
    }
  }
}
