.contacts {
  b {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: @title-color;
  }

  p {
    line-height: 20px;
  }
}

.contacts__map {
  background-color: @secondary-background-color;
}
