.examples {
  background-color: @secondary-background-color;

  h2 {
    .page-title();

    color: @title-color;
  }
}

.examples__costs {
  line-height: 20px;
  color: @title-color;
  text-transform: uppercase;
}

.examples__img {

  span {
    font-size: 16px;
    line-height: 20px;
    color: @title-color;
    text-transform: uppercase;
  }
}
