.main-title {
  margin-bottom: 22px;
  padding-top: 29px;
  background-color: #63a73a;
  background-image:
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  h1 {
    .page-title(36px, 36px);

    color: @main-title-color;
  }

  p {
    color: @main-title-color;
    text-transform: uppercase;
  }
}
