.main-title {
  margin-bottom: 22px;
  padding-top: 29px;
  background-color: #65a93c;
  background-image:
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  font-family: "Oswald", "Arial";
  font-weight: 400;

  h1 {
    line-height: 36px;
    font-size: 36px;
    color: #ffffff;
  }

  p {
    line-height: 14px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
  }
}
