.page-header {
  outline: 2px solid red;
}

.page-header__wrapper {
  .container();
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
