.site-form__item {

  legend {
    .secondary-title(24px);

    color: @title-color;
  }

  label {
    color: @secondary-color;
  }
}

.site-form__caption {

  h1 {
    .page-title();

    margin: 0;
    color: @title-color;
  }

  p {
    margin: 0;
    color: @title-color;
  }
}

.site-form__require {
  line-height: 16px;
}
