.site-form__wrapper {
  .container();
}

.site-form__caption {
  h1 {
    .page-title();

    margin: 0;
    color: @title-color;
  }

  p {
    margin: 0;
    color: @title-color;
    text-transform: uppercase;
  }
}

.site-form__item {
  legend {
    .secondary-title(24px);

    color: @title-color;
  }
}

.site-form__input {
  label {
    font-size: 16px;
    color: @secondary-color;
    text-transform: uppercase;
  }
}

.site-form__button {
  display: flex;
  flex-direction: column;
}

.site-form__require {
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .site-form__wrapper {
    .container();
  }

  .site-form__caption {
    h1 {
      .page-title(60px, 60px);
    }

    p {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .site-form__item {
    legend {
      .secondary-title(36px);
    }
  }

  .site-form__input {
    width: 284px;

    label {
      .secondary-title(20px);
    }
  }

  .site-form__extra {
    display: flex;
    flex-wrap: wrap;
  }

  .site-form__button {
    flex-direction: row;
  }

  .site-form__require {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .site-form__profile {
    display: flex;
  }

  .site-form__contacts {
    display: flex;
  }
}
