.table-achiev {
  outline: 2px solid blue;
}

.table-achiev__value {
  .secondary-title(24px);

  color: @title-color;
  text-transform: uppercase;
}

.table-achiev__description {
  .secondary-title(12px);
}
